<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>FilterEncoding</filter-name>
        <filter-class>Filters.FilterEncoding</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterEncoding</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterLinks</filter-name>
        <filter-class>Filters.FilterLinks</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLinks</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/FilterLink</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterStartPage</filter-name>
        <filter-class>Filters.FilterStartPage</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterStartPage</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>Filters.FilterLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/FilterLogin</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterRegister</filter-name>
        <filter-class>Filters.FilterRegister</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRegister</filter-name>
        <url-pattern>/FilterRegister</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterRequestApartment</filter-name>
        <filter-class>Filters.FilterRequestApartment</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRequestApartment</filter-name>
        <url-pattern>/FilterRequestApartment</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterApartmentBill</filter-name>
        <filter-class>Filters.FilterApartmentBill</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterApartmentBill</filter-name>
        <url-pattern>/FilterApartmentBill</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>Filters.ADMIN.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/FilterAdmin</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterLoginAdmin</filter-name>
        <filter-class>Filters.ADMIN.FilterLoginAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoginAdmin</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterAddRoom</filter-name>
        <filter-class>Filters.ADMIN.FilterAddRoom</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAddRoom</filter-name>
        <url-pattern>/FilterAddRoom</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterInvoice</filter-name>
        <filter-class>Filters.ADMIN.FilterInvoice</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterInvoice</filter-name>
        <url-pattern>/FilterInvoice</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>FilterDeleteRoom</filter-name>
        <filter-class>Filters.ADMIN.FilterDeleteRoom</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDeleteRoom</filter-name>
        <url-pattern>/FilterDeleteRoom</url-pattern>
    </filter-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
